# Arrays

Arrays are similar to list but one difference that in array all the values of same type.

In [1]:
from array import *
vals  = array('i',[5,9,6,2,-4])
vals

array('i', [5, 9, 6, 2, -4])

In [2]:
vals = array('i', [5,9,6.5,2])
vals

TypeError: integer argument expected, got float

*In above example all the values are not same type.*

## Methods of Array
1. buffer_info()
2. typecode()
3. reverse()

In [3]:
vals = array('i',[5,7,9,2])
vals.buffer_info()

(140427342900784, 4)

In [4]:
vals.typecode

'i'

In [5]:
vals.reverse()
vals

array('i', [2, 9, 7, 5])

**Some operations with array!**

In [6]:
#1.Print each value one by one using loop
for e in vals:
    print(e)

2
9
7
5

In [7]:
#2.Working with characters in array
vals = array('u',['a','e','i','o','u'])
for e in vals:
    print(e)

a
e
i
o
u

In [8]:
#3.Copying one array to another
vals = array('i',[4,6,7,9,11])
new_arr = array(vals.typecode, (a for a in vals))
new_arr

array('i', [4, 6, 7, 9, 11])

In [9]:
#Creating an array where user defined values are inserted and without knowing size of array
arr = array('i',[])
n = int(input("Enter the length of the array"))

for i in range(n):
    x = int(input("Enter the next value :"))
    arr.append(x)
print(arr)

Enter the length of the array 5
Enter the next value : 1
Enter the next value : 3
Enter the next value : 6
Enter the next value : 8
Enter the next value : 11

array('i', [1, 3, 6, 8, 11])